<html>
    <head>
        <title>CD Organizer</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1>Welcome to CD Organizer</h1>
            <a href="/new_cd" class="btn btn-primary">Add CD</a>
            <a href="/searchbyartist" class="btn btn-primary">Search by Artist</a>
            <!-- List all inputed CDs -->
            {% if cds is not empty %}
                <p>Your CDs:</p>
                {% for cd in cds %}
                    <ul>
                        <li>{{ cd.artist }}</li>
                        <li>{{ cd.title }}</li>
                        <li>{{ cd.price }}</li>
                    </ul>
                {% endfor %}
            {% endif %}
        </div>
    </body>
</html>
