<html>
    <head>
        <title>CD Organizer</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <a href="/new_cd" class="btn btn-primary">Add CD</a>
            <a href="/searchbyartist" class="btn btn-primary">Search by Artist</a>
        </div>
    </body>
</html>
